* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Tahoma;
}

body {
    direction: rtl;
    background-color: #f4f6f8;
    color: #333;
}

/* Header */
header {
    background: #2c7be5;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    margin-bottom: 10px;
}

/* Sections */
section {
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
}

section h2 {
    margin-bottom: 15px;
    color: #2c7be5;
}

/* Services */
.service-box {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.service {
    background: #e9f0ff;
    padding: 15px;
    border-radius: 6px;
    flex: 1;
    min-width: 200px;
    text-align: center;
}

/* Contact */
.contact {
    text-align: center;
}
.whatsapp {
    background: #25D366;
}


.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 12px 25px;
    background: #2c7be5;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: #ddd;
    margin-top: 30px;
}

/* Responsive */
@media (max-width: 600px) {
    header {
        padding: 30px 15px;
    }
}
